@media screen and (min-width: 480px) {
    .city-customers-customer-card {
        width: 320px;
        max-width: 320px;
        height: 100px;
        max-height: 100px;
        cursor: pointer;
    }
}

@media screen and (max-width: 479px) {
    .city-customers-customer-card {
        width: 90%;
        height: 100px;
        max-height: 100px;
        cursor: pointer;
    }
}