@media screen and (min-width: 552px) {
    .customer-by-city-card {
        width: 240px;
        max-width: 240px;
        height: 100px;
        max-height: 100px;
        cursor: pointer;
    }
}

@media screen and (max-width: 551px) {
    .customer-by-city-card {
        width: 90%;
        height: 100px;
        max-height: 100px;
        cursor: pointer;
    }
}
